<div class="row">
    <%= render partial: 'shared/user_and_verification_panel', locals: {user: @user} %>
    <div class="col-md-9">
        <h2><%= @user.fullname %></h2>
        <div class="descritpion row-space-3">
            <%= @user.description %>
        </div>

        <h4>Listings (<%= @venues.length %>)</h4><br/>

        <div class="row">
            <%= render partial: "venues/venue_list", locals: {venues: @venues} %>
        </div>

        <h4>Reviews from Guests (<%= @guest_reviews.count %>)</h4>
        <div class="row">
            <%= render "reviews/guest_list" %>
        </div>
        <br/>
 
        <h4>Reviews from Venues (<%= @host_reviews.count %>)</h4>
        <div class="row">
            <%= render "reviews/host_list" %>
        </div>
        <br/>
    </div>
</div>