<div class="row">
    <div class="col-md-7 banner">
        <h1><span class="text-red">MusicalFolks</span> Book unique rehearsing venues everywhere</h1>
    </div>
</div>

    
<%= form_tag search_path, method: :get do %>
    <div class="row">
        <div class="col-md-6">
            <label>Location</label>    
            <%= text_field_tag :search, params[:search], 
                            placeholder: "Where do you want to rehearse?", 
                            class: "form-control", id: "autolocation"  %>
        </div>
        <div class="col-md-3">
            <label>Start Date/Time</label>
            <div class='input-group date' id='startdate'>
                <%= text_field_tag :start_date, params[:start_date], 
                    class: "form-control",
                    placeholder: "Start Date/Time" %>          
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>   
        </div>

        <div class="col-md-3">
            <label>End Date/Time</label>                
            <div class='input-group date' id='enddate'>
                <%= text_field_tag :end_date, params[:end_date], 
                    class: "form-control",
                    placeholder: "End Date/Time" %>          
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>   
        </div>
    </div>
    
    <br/><br/>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <%= submit_tag "Search", class: "btn btn-normal btn-block" %>
        </div>
    </div>
<% end %>

<br/><hr/><br/>

<!-- VENUES -->
<div><h3>Venues</h3></div>
<br/>

<div class="row">
    <%= render partial: "venues/venue_list", locals: {venues: @venues} %>
</div>

<!-- EVENTS -->
<div><h3>Events</h3></div>
<br/>

<!-- CITIES -->
<div><h3>Cities</h3></div>
<br/>

<div class="row">
    <div class="col-md-3 col-sm-12">
        <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=London">
        <div class="discovery-card" style="background-image: url('/assets/LD.jpg')">
        </div></a>
    </div>
    <div class="col-md-3 col-sm-12">
        <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=Los+Angeles">
        <div class="discovery-card" style="background-image: url('/assets/LA.jpg')">
        </div></a>
    </div>
    <div class="col-md-3 col-sm-12">
        <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=Paris">
        <div class="discovery-card" style="background-image: url('/assets/PR.jpg')">
        </div></a>
    </div>
    <div class="col-md-3 col-sm-12">
        <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=Miami">
        <div class="discovery-card" style="background-image: url('/assets/MI.jpg')">
        </div></a>
    </div>
</div>

<script>
    $(function() {
        $("#autolocation").geocomplete();
    });
</script>