<div id="main">
    <div id="left">
        <!-- Search Panel -->
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <button id="filter" class="btn btn-default" data-toggle="collapse" data-target="#collapsePanel">
                    <span data-toggle="collapse" data-target="#collapsePanel">More Filters <i class="fa fa-chevron-down"></i></span>
                </button>
            </div>
        </div>
        <div class="row">
            <br/>
            <div class="collapse" id="collapsePanel">
                <%= search_form_for @search, url: search_path, remote: true do |f| %>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Price Range:</label>
                            <div id="slider-range"></div>
                        </div>
                        <div class="col-md-2">
                            <label>Min Price:</label>
                            <%= f.text_field :price_gteq, class: "form-control" %>
                        </div>
                        <div class="col-md-2">
                            <label>Max Price:</label>
                            <%= f.text_field :price_lteq, class: "form-control" %>
                        </div>
                    </div>
                    <hr/>


                    <div class="row">
                        <div class="col-md-6">
                            <label>Start Date/Time</label>
                            <div class='input-group date' id='startdate'>
                                <%= text_field_tag :start_date, params[:start_date],
                                placeholder: "Start Date/Time", 
                                class: "form-control"  %>      
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>    
                            </div>
 
                        </div>
                        <div class="col-md-6">
                            <label>End Date/Time</label>
                            <div class='input-group date' id='enddate'>
                                <%= text_field_tag :end_date, params[:end_date],
                                placeholder: "End Date/Time", 
                                class: "form-control"  %>      
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>  
                            </div> 
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-md-4">
                            <%= check_box_tag "q[venue_type_eq_any][]", "Private Home" %> Private Home
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[venue_type_eq_any][]", "Concert Hall" %> Concert Hall
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[venue_type_eq_any][]", "Rehearsal Venue" %> Rehearsal Venue
                        </div>       
                        <div class="col-md-4">
                            <%= check_box_tag "q[venue_type_eq_any][]", "Recording Studio" %> Recording Studio
                        </div>       
                        <div class="col-md-4">
                            <%= check_box_tag "q[venue_type_eq_any][]", "Church" %> Church
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[venue_type_eq_any][]", "Garage" %> Garage
                        </div>                                
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group select">
                                <label>Maximum Musicians</label>
                                <%= f.select :max_guests_gteq, [
                                ["1", 1],
                                ["2", 2],
                                ["3", 3],
                                ["4", 4],
                                ["5", 5],
                                ["6", 6],
                                ["7", 7],
                                ["8", 8],
                                ["9", 9],
                                ["10+", 10]
                                ], id: "max_guests", prompt: "Maximum musicians allowed...", class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group select">
                                <label>Instruments</label>
                                <%= f.select :instruments_eq_any, [
                                    ["none", "none"],
                                    ["Upright Piano", "Upright Piano"],
                                    ["Baby Grand Piano", "Baby Grand Piano"],
                                    ["Concert Grand Piano", "Concert Grand Piano"],
                                    ["Drums", "Drums"],
                                    ["Organ", "Organ"],
                                    ["Harp", "Harp"]
                                    ], id: "instruments", prompt: "Select your instruments...", class: "form-control" 
                                %>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group select">
                                <label>Preferred Style</label>
                                <%= f.select :preferred_style_eq_any, [
                                    ["Any", "Any"],
                                    ["Classical", "Classical"],
                                    ["Chamber", "Chamber"],
                                    ["Rock", "Rock"],
                                    ["Metal", "Metal"],
                                    ["Pop", "Pop"],
                                    ["Folk", "Folk"]
                                    ], id: "preferred_style", prompt: "Select your preferred style...", class: "form-control" 
                                %>
                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-4">
                            <%= check_box_tag "q[hosts_events_eq]", true %> Organises Events
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[has_recording_eq]", true %> Recording Equipment
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[has_wifi_eq]", true %> Internet
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[has_heating_eq]", true %> Heating
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[has_conditioning_eq]", true %> Air Conditioning
                        </div>                    
                    </div>
                    <hr/>

                    <div class="row text-center">
                        <%= f.submit "Search", class: "btn btn-form" %>
                    </div>

                <% end %>
            </div>
            <br/>


            <div class="row" id="venue_list">
                <%= render partial: "venues/venue_list", locals: {venues: @arrVenues} %>
            </div>
        </div>
    </div>

    <div id="right">
        <!-- Google MAP -->
        <div id="map" style="width: 100%; height: 100%;"></div>
            <script>      
                function initialize(venues) {
                    var location = {lat: 51.509865, lng: -0.118092};

                    if (venues.length > 0) {
                        location = {lat: venues[0].latitude, lng: venues[0].longitude };
                    }
                
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: location,
                        zoom: 12
                    });

                    var marker, infoWindow;

                    venues.forEach(function(venue) {
                        marker = new google.maps.Marker({
                            position: {lat: venue.latitude, lng: venue.longitude},
                            map: map
                        });

                        infoWindow = new google.maps.InfoWindow({
                            content: "<div class='map_price'>£" + venue.price + "</div>"
                        });

                        infoWindow.open(map, marker);
                    });

                }

                google.maps.event.addDomListener(window, 'load', function(){
                    initialize(<%= raw @arrVenues.to_json %> )
                });
            </script>



    </div>
</div>


<script>

    var minimumDateTime = moment();
    var currentHour = moment().hour();
    var currentMinutes = moment().minutes();

    var tempHour;
    var tempMinHour;

    var tempMin;
    var tempMax;



    if( currentMinutes <= 30 ) {
        currentMinutes = 0;
        currentHour += 1;
    } else {    
        currentMinutes = 0;
        currentHour += 2;
    }


    minimumDateTime = moment().hour(currentHour);
    minimumDateTime = moment(minimumDateTime).minutes(currentMinutes);




    $(function () {
        $('#startdate').datetimepicker({
            minDate: minimumDateTime,
            stepping: 60
        });


        $('#enddate').datetimepicker({
            useCurrent: false,            
            minDate: moment(minimumDateTime).hour(currentHour+1),
            stepping: 60            
        });

        

        $("#startdate").on("dp.change", function (e) {
            if( !e.date  ) {
                $('#enddate').data("DateTimePicker").clear();
                $('#enddate').data("DateTimePicker").disable();
            } else {
                if( e.date.hour() == 23 ) {
                    tempHour = 0;
                } else {
                    tempHour = 23;
                }
                tempMinHour = e.date.hour() + 1;
    
                tempMin = moment(e.date).hour(tempMinHour);
                tempMin = moment(tempMin).minutes(0);
    
                tempMax = moment(e.date).hour(tempHour);
                tempMax = moment(tempMax).minutes(0);
    
                $('#enddate').data("DateTimePicker").clear();
                $('#enddate').data("DateTimePicker").minDate(tempMin);
                $('#enddate').data("DateTimePicker").maxDate(tempMax);                
                $('#enddate').data("DateTimePicker").date(tempMin);                
                $('#enddate').data("DateTimePicker").enable();   
                return;             
            }
            return;
        });


    });





    var open = true;
    $('#filter').click(function() {
       if (open) {
        $('#filter').html("<span data-toggle='collapse' data-target='#collapsePanel'>Less Filters <i class='fa fa-chevron-up'></i></span>")        
    } else {
        $('#filter').html("<span data-toggle='collapse' data-target='#collapsePanel'>More Filters <i class='fa fa-chevron-down'></i></span>")        
       }
       open = !open;
    });
    </script>

    <script>
        $(function() {
            $("#q_price_gteq").val('100');
            $("#q_price_lteq").val('500');
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [10, 200],
                slide: function(event, ui) {
                    $("#q_price_gteq").val(ui.values[0]);
                    $("#q_price_lteq").val(ui.values[1]);
                }
            });
            
            $(".ui-widget-header").css('background', '#00A699');
            $(".ui-state-default, .ui-widget-content").css('background', 'white');
            $(".ui-state-default, .ui-widget-content").css('border-color', '00A699');
            
        })
    </script>