<div class="row">
    <div class="col-md-3">
      <%= render 'venue_menu' %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
          <div class="panel-heading">
              Photos
          </div>
          <div class="panel-body">
              <div class="container">
                  <div class="row">
                      <div class="col-md-offset-3 col-md-6">
                          <%= form_for @venue, url: venue_photos_path(@venue), method: 'POST', html: {multipart: true} do |f| %>
                            <div class="row">
                                <div class="form-group">
                                    <span class="btn btn-default btn-file text-babu">
                                        <i class = "fa fa-cloud-upload" aria-hidden="true"></i>
                                        Select Photos
                                        <%= file_field_tag "images[]", type: :file, multiple: true, id: "photo-upload" %>
                                    </span>
                                </div>
                            </div>

                            <div class="text-center">
                                <%= f.submit "Add Photos", class: "btn btn-form", id: "submit-photo" %>
                            </div>
                          <% end %>
                      </div>
                  </div>

                  <div id="photos"><%= render 'photos/photos_list' %></div>
              </div>
          </div>
      </div>
    </div>
</div>

<script> 
//Disable submit button if no files is selected
$(document).ready(function(){
    $('#submit-photo').prop('disabled',true); 
    $('#photo-upload').change(function(){ 
    if($("#photo-upload")[0].files.length !=0)
        $('#submit-photo').attr('disabled', false);            
    else
        $('#submit-photo').attr('disabled',true);
     });
});  
 </script>