<div class="row">
    <div class="col-md-3">
        <%= render 'shared/manage_listings_side'%>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Your Reservations
            </div>
            <div class="panel-body">
                
                <% @venues.each do |venue| %>
                    <% venue.reservations.each do |reservation| %>
                        <div class="row">
                            <div class="col-md-2">
                                <%= reservation.start_date.strftime('%v') %>
                            </div>
                            <div class="col-md-2">
                                <%= link_to venue_path(reservation.venue) do %>
                                    <%= image_tag reservation.venue.cover_photo(:thumb) %>
                                <% end %>
                            </div>
                            <div class="col-md-5">
                                <%= link_to reservation.venue.listing_name, venue_path(reservation.venue) %><br/><br/>
                                <br/>
                                    <span>
                                        <%= link_to user_path(reservation.user) do %>                                   
                                            <%= image_tag avatar_url(reservation.user), class: "img-circle avatar-small" %>
                                            <%= reservation.user.fullname %>
                                        <% end %>                                        
                                    </span>
                            </div>
                            <div class="col-md-3 text-right">
                                <%= render partial: "reviews/host_form", locals: {reservation: reservation} %>
                            </div>
                        </div>
                        <hr/>
                    <% end %>
                <% end %>

            </div>
        </div>
    </div>
</div>